:root {
    --color1: #787878;
    --color2: #1ecbc6;
    --color3: #252525;
    --color4: #ffffff;
    --bgColor5: #e9e9e9;
    --bgColor6: #f5f5f5;
    --bgColor7: #dddddd;
    --py80: 80px;
    --px50: 50px;
    --color8: #000;
}
body {
    font-size: 14px;
    font-family: Avram Sans;
}
ul {
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
.row {
    --bs-gutter-x: 0;
}
.bg-2 {
    background-color: var(--color2);
}
.bg-3 {
    background-color: var(--color3) !important;
}
.bg-5 {
    background-color: var(--bgColor5) !important;
}
.bg-6 {
    background-color: var(--bgColor6);
}
.bg-7 {
    background-color: var(--bgColor7) !important;
}
.py-80 {
    padding-top: var(--py80);
    padding-bottom: var(--py80);
}
.px-50 {
    padding-left: var(--px50);
    padding-right: var(--px50);
}
/* 
=======================================================================
==================menu=================================================
=======================================================================
*/

.menu {
    /* padding-top: 45px; */
    padding-bottom: 90px;
    background-color: var(--bgColor5);
}
.menu__item {
    /* margin-left: 30px; */
    list-style-type: none;
}
.menu__item a {
    text-decoration: none;
    color: var(--color8);  
    transition: all 200ms ease-in-out;
}
.menu__item a:hover {
    color: var(--color2);
}
.menu__item-active a{
    color: var(--color2);
}
.menu__text {
    margin-top: 135px;
    margin-right: 100px;
}
.menu__text-title {
    margin-bottom: 20px;
    color: var(--color8);
}
.menu__text-p {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    font-weight: 400;
    max-width: 490px;
    margin-bottom: 20px;
    line-height: 1.7;
}
.menu__text-btn {
    padding: 14px 45px;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 0;
    font-size: 12px;
    transition: all 200ms ease-in-out;
}
.menu__text-btn:hover {
    color: var(--color8);
}
/* 
=======================================================================
==================menu-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================about=============================================
=======================================================================
*/
.about {
    padding: 50px 0;
} 
.about__title {
    margin-bottom: 20px;
    color: var(--color8);
}
.about__text {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    font-weight: 400;
    line-height: 1.7;
    width: 525px;   
    margin: 0;
}
.about__sign {
    margin-top: 20px;
}
/* 
=======================================================================
==================about-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================skills=============================================
=======================================================================
*/


.skills__title {
    margin-bottom: 20px;
    color: var(--color8);
}
.skills__static {
    margin-bottom: 40px;
}
.skills__static-text {
    margin-bottom: 20px;
    color: var(--color8);
}
.skills__gray {
    background-color: var(--bgColor5);
}
/* 
=======================================================================
==================skills-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================info=============================================
=======================================================================
*/

.info {
    background-color: var(--color2);
    height: 240px;
    padding: 0 100px;
}
.info__block {
    color: var(--color4);
}
.info__icon {
    margin-right: 20px;
}
.info__number {
    margin-bottom: 5px;
    font-size: 16px;
}
.info__text {
font-size: 12px;
}
/* 
=======================================================================
==================info-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================squares=============================================
=======================================================================
*/
.squares {
    margin-bottom: 50px;
}
.squares__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;

}
.squares__item {
    background-color: #838383;
}
.squares__show-more {
    height: 100px;
    background-color: var(--bgColor6);
    
}
.squares__show-more a {
    color: var(--color1);
    text-decoration: none;
}
/* 
=======================================================================
==================squares-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================work=============================================
=======================================================================
*/
.work__title {
    margin-bottom: 20px;
    color: var(--color8);
}
.work__text {
    color: var(--color1);
    width: 465px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    line-height: 1.7;
}
.work__video-bg {
    height: 550px;
    background-color: var(--bgColor5);
    margin-bottom: 100px;
}
.work__circle {
    width: 80px;
    height: 80px;
    background-color: var(--color2);
    border-radius: 50%;
}
.work__circle:hover .work__triangle {
    border-color: transparent transparent transparent var(--color3);
}
.work__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 11px;
    border-color: transparent transparent transparent var(--bs-white);
    margin-right: -6px;
    transition: all 500ms ease-in-out;
}

.work__bg {
    background-color: var(--bgColor6);
}
.work__padding {
    padding: 80px 60px 40px 60px;
}
.work__block {
    text-align: center;
}
.work__block {
    margin-bottom: 30px;
}
.work__img {
    margin-bottom: 25px;
}
.work__block-subtitle {
    margin-bottom: 10px;
}
.work__block-text {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    font-weight: 400;
    width: 200px;
}
/* 
=======================================================================
==================work-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================out=============================================
=======================================================================
*/

.out__bg {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4);
    text-align: center;
    padding-top: 180px;
    padding-bottom: 50px;
}
.out__quote {
    width: 615px;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 20px;
}
.out__quote-name {
    margin-bottom: 100px;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.out__pagination {
    list-style-type: none;
}
.out__pagination .out__active {
    height: 10px;
    width: 10px;
    opacity: 1;
}
.out__page-item {
    height: 6px;
    width: 6px;
    background-color: var(--color4);
    border-radius: 50%;
    opacity: .5;
}
/* 
=======================================================================
==================out-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================icons=============================================
=======================================================================
*/
.icons__bg2 {
    padding: 65px 135px;
}
.icons__icon {
    color: var(--color1);
}
/* 
=======================================================================
==================icons-end=============================================
=======================================================================
*/
/* 
=======================================================================
===================anketa ============================================
=======================================================================
*/
.anketa {
    background-color: var(--bgColor6);
    padding: 100px 0;
}
.anketa__title {
    margin-bottom: 20px;
}
.anketa__text {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    font-weight: 400;
    max-width: 460px;
    margin-bottom: 20px;
    line-height: 1.7;
}
.anketa__form {
    width: 675px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 30px;
    margin-bottom: 30px;
}
.anketa__input {
    font-family: 'Roboto';
    padding: 20px;
    border: none;
}
.anketa__input-3 {
    grid-column-start: span 2;
}
.anketa__input-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;

}
.anketa__btn {
    padding: 14px 35px;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 0;
    transition: all 200ms ease-in-out;
    font-size: 14px;
}
.anketa__btn:hover {
    color: var(--color8);
}


/* 
=======================================================================
==================anketa-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================footer-end=============================================
=======================================================================
*/
.footer {
    background: var(--color8);
    color: var(--color4);
    padding: 100px;
    font-family: 'Roboto';
}
.footer__title {
    font-family: Avram Sans;
}
.footer__block-3 {
    gap: 0 60px;
}
.footer__column-3 {
    margin: 0 auto;
}
.footer__text-2 {
    margin-right: 75px;
}
/* 
=======================================================================
==================footer-end=============================================
=======================================================================
*/

/* 
=======================================================================
==================menu=============================================
=======================================================================
*/
    .navbar {
        padding-top: 40px;
        padding-left: 90px;
    }
    .menu__list {
        margin-right: 100px;
    }
    .menu__navbar-toggler {
        margin-right: 100px;
    }
    
/* 
=======================================================================
==================menu-end=============================================
=======================================================================
*/
/* 
=======================================================================
==================media query=============================================
=======================================================================
*/
@media(max-width: 991px) {
    .menu__list {
        border: 1px solid var(--color8);
        margin-top: 20px;
        text-align: center;
    }
    .menu__item {
        padding-bottom: 10px;
        transition: all 500ms ease-in-out;
        letter-spacing: 2px;
    }
    .menu__text {
        margin-right: 0px;
        margin-top: 75px;
        text-align: center;
    }
}
@media(max-width: 575px) {
    .about__text {
        width: auto;
    }
}
/* 
=======================================================================
==================media query-end=============================================
=======================================================================
*/





